<button type="button" class="btn btn-success" (click)="ShowModal(content)">update</button>
<ng-template #content>
    <form>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Task</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="dateOfBirth">Title</label>
                    <div class="input-group">
                        <input name="title" class="form-control" [formControl]="title">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="update()">Save</button>
                </div>
            </form>
        </div>
    </form>
</ng-template>