<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>
                <span *ngIf="task.completed === true ">IsCompleted</span>
                <span *ngIf="task.completed === false ">NotCompleted</span>
            </td>
            <td>
                <app-update-task [currentTask]="task"></app-update-task>
                &nbsp;
                <app-delete-task [currentTask]="task"></app-delete-task>
            </td>
        </tr>
    </tbody>
</table>